[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anime="accordion"] dt.active::after {
  content: "⬏";
}

.js [data-anime="accordion"] dd {
  display: none;
}

.js [data-anime="accordion"] dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}
